node_modules/
data/
*.log

.qwen/
gha-creds-*.json
*.db-shm
*.db-wal
data/*.csv
data/*.db
data/trading_data_v1.db
data/trading_data_v2_13-15.db
data/trading_data_V3_17.db
data/trading_data-V4_18.db
data/trading_data-V5_25.db
